spring:
  application:
    name: server
  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "change-this-to-a-very-long-secret-key-at-least-32-bytes!"
  access-token-expiration-ms: 3600000  # 1시간
  issuer: "archiveat"

